
body{
    font-family: "Nanum gothic";
}
/*.search-head{*/
/*float: top;*/
/*padding: 0;*/
/*color: white;*/
/*font-size: 20px;*/
/*transition: 0.4s;*/
/*line-height:100px;*/
/*width:0px;*/
/*}*/

div.search-box{
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn{
    /*left: 200px;*/
    /*top: 500px;*/
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.4s;
}

.search-box:hover >.search-txt{
    width:500px;
    padding: 0 6px;
}

.search-box:hover>.search-btn{
    background: white;
}


.search-txt{
    border: none;
    background: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height:40px;
    width:510px;
}

.font-size-40 {
    font-size: 40px;
    font-family: cursive;
    text-decoration: none;
    text-align:left;

    line-height:100px;

    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #FFDEE9, 0 0 5px darkblue;
}




a.top {
    color: #3c3c3c;
    font-size: 70px;
    position: fixed;
    right : 50px;
    bottom: 100px;
    display: none;
}
em {
    background-color: yellow;
}
p.text{
    margin-left: 27px;
    margin-right: 30px;
    line-height: 25px;
}
h3.title{
    margin-left: 30px;
    margin-right: 30px;
}
div.ground{
    background: ghostwhite;
    border-radius: 10px;
    padding:15px;
    width: 80%;
    margin-left: 10%;
}
div.ground1{
    position: absolute;
    padding:15px;
    margin-left: 12%;
    margin-right: 10%;
    width:80%;
    text-align: center;

}
p.header{
    font-family: 'Jeju Myeongjo', serif;
    margin-left : 12%;
}


.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px;}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:3;color:#23527c;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:2;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7}

input[id="cb1"] + label {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 2px solid #bcbcbc;
    border: 2px solid black;
    cursor: pointer;
}
input[id="cb1"]:checked + label{
    background-color: #666666;
}
input[id="cb1"] {
    display: none;
}
.text-large  {
    font-size: 130%;
}


