body{
margin: 0;
padding: 0;
background: #bdc3c7;
}
.seach-head{
float: top;
padding: 0;
color: white;
font-size: 20px;
transition: 0.4s;
line-height:100px;
width:0px;
}
.search-box{
position: absolute;
top: 15%;
left: 32%;
transform: translate(-50%,-50%);
background: #2f3640;
height: 40px;
border-radius: 40px;
padding: 10px;
}

.search-box:hover>.search-txt{
width:500px;
padding: 0 6px;
}

.search-box:hover>.search-btn{
background: white;
}

.search-btn{
color: #e84118;
float: right;
width: 40px;
height: 40px;
border-radius: 50%;
background: #2f3640;
display: flex;
justify-content: center;
align-items: center;
transition:0.4s;
}
.search-txt{
border: none;
background: none;
float: left;
padding: 0;
color: white;
font-size: 16px;
transition: 0.4s;
line-height:40px;
width:510px;
}


