<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
    <title> Mathcoding_Search Engine </title>

    <meta charset="utf-8">
    <meta name="description" content="Medical search engine by Elastic Search">
    <meta name="author" content="Mathcoding">

    <link href='{% static "css/style.css" %}' rel="stylesheet" >
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>


<h3>Capstone&nbsp&nbsp&nbsp&nbsp<br>Mathcoding&nbsp&nbsp&nbsp&nbsp</h3>
<a style="text-decoration: none;" class="con_link" onmouseover="this.style.textDecoration='none';" onmouseout="this.style.textDecoration='none';" href="{% url 'index' %}">
    <p class="font-size-40">Medical Searching Engine</p></a>

<form method="POST"
      action="{% url 'result' %}"
      enctype="multipart/form-data">

    <div class="search-box" align="center">

        <input class="search-txt" type="text" name="input_Symptom" placeholder="Type to Symptom">
        {% csrf_token %}
        <button type="submit" class="search-btn">
            <i class="fas fa-search" ></i>
        </button>
    </div>
</form>

</body>
</html>