body{
margin: 0;
padding: 0;
background: #bdc3c7;
}
.seach-head{
float: top;
padding: 0;
color: white;
font-size: 20px;
transition: 0.4s;
line-height:100px;
width:0px;
}
.search-box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #2f3640;
height: 40px;
border-radius: 40px;
padding: 10px;
}

.search-box:hover>.search-txt{
width: 350px;
padding: 0 6px;
}

.search-box:hover>.search-btn{
background: white;
}

.search-btn{
color: #e84118;
float: right;
width: 40px;
height: 40px;
border-radius: 50%;
background: #2f3640;
display: flex;
justify-content: center;
align-items: center;
transition:0.4s;
}
.search-txt{
border: none;
background: none;
float: left;
padding: 0;
color: white;
font-size: 16px;
transition: 0.4s;
line-height:40px;
width:0px;
}
.search-list {}
.search-list h3 {padding:20px 0; color:#111; font-size:2em; font-weight:normal}
.search-item {margin:10px 0 10px 6px; border-top:1px solid #ddd}
.search-item li {padding:20px 0; border-bottom:1px solid #e9e9e9}
.search-item li .date {color:#999; font-size:0.825em}
.search-item li a {color:#555; font-size:1.25em}
.search-item li a:hover, .search-item li a:active, .search-item li a:focus {color:#ff8149; text-decoration:none}
.search-item li a .cnt {color:#ff8149}

